@import "../../global.scss";

select {
  border: none;
  border-radius: 0.2rem;
  background-color: $gray02;
  color: $off-white;
  caret-color: $off-white;
  font-size: 20px;
  padding: 8px 12px;
}

.default {
  color: #A4BACB;
  font-weight: $semibold;
}