@import "../../global.scss";

.standard-table {
  border: 2px solid $gray02;
  border-radius: 0.2rem;
  border-collapse: collapse;

  th, td {
    border: 1px solid $gray02;
    padding: 8px 12px;
  }
}