@import "../global.scss";

.character-card {
  border: 2px solid $gray02;
  border-radius: 0.5rem;

  .character-options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 18px;
    row-gap: 24px;
    padding: 18px;
    
    .standard-textbox input {
      background-color: $gray02;
      color: $off-white;
      font-size: 20px;
      width: 100%;
    }
    
    .standard-dropdown {
      width: 100%;
    }
    
    .character-lineage {
      grid-column: 2;
    }
    
    .character-subclass {
      grid-column: 3;
    }
    
    .character-appearance {
      grid-column: 1 / span 2;
      width: 504px;
    }
  }
}