/* @import "../../../../assets/stylesheets/global.css"; */

.follower-generator {
  display: flex;
  padding: 20px 36px;
}

.follower-table .standard-table {
  margin-top: 24px;
}

.roll-follower {
  padding: 24px;
}